@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    font-family: "Roboto", sans-serif;
    padding: 0px;
}
.men{ 
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.santander{
    text-align: center;
}
.tab1{
    background-color:#faf5f5;
    color:#000000;
    padding: 20px 10px 20px 10px;
    max-width: 1000px;
    border: 2px solid #ffffff ;
    border-radius: 20px;
    margin: 5px;
    text-align: justify;
    box-shadow: 10px 10px 5px 0px #bebbbe;
    
}

.a:link a:visited{
    color: white;
    background-color: #7a7aad;
    padding: 15px 20px;
    
    text-align: center; 
    display:inline-block;
    border-radius: 10px;
    
}
.amazona{
    text-align: center;
}

.vichada{
    text-align: center;
}

.meta{
    text-align: center;
}

.caqueta{
    text-align: center;
}